

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 1em;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    margin-right: 1em;
}
